
# mcman: use lfs for worlds
**/worlds/*.zip filter=lfs diff=lfs merge=lfs -text

# use lfs for compressed minecraft server configs
**/mc/*.zip filter=lfs diff=lfs merge=lfs -text
**/mc/*.tar.gz filter=lfs diff=lfs merge=lfs -text
